@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
body{
    background-color: rgb(80, 207, 207);
}
 


.conatiner{
    text-align: center;
    background-color: rgb(119, 115, 115);
    font-family:'Inter', sans-serif;
    position: absolute;
    top: 25%;
    left: 29%;
    
    /* transform: translate(-50%, -50%); */
    padding-bottom: 60px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1)0px 2px 4px;
    width: 40%;
    min-width: 10px;
    

}
.timer-display{
    background-color: rgb(94, 86, 86);
    width: 100%;
    padding: 40px 0;
    color: #fff;
    font-size: 3rem;
    justify-content: center;
    display: flex;
    border-radius: 10px 10px;
    
    
}
.lap{
    color: #fff;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;


   
    
   
 
    
}

.Actions{
    text-align: center;
   margin: 60px auto 0 auto;
   width: 90%;
  display: grid;
  margin-left: 10px;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 30px;   
  
} 

.Actions button{
    font-size: 20px;
    color: rgb(82, 27, 27);
    border: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin-left: 50px;

}

button:hover{
    background-color: #141313;
    color: white;
    padding: 7px 17px;
    border: 3px solid black;
}
 




